:root {
	--base-unit: 4px;
	
	--color-bg: #ece6ee;
	--color-surface: #ffffff;
	--color-on-surface: #050505;
	
	--color-accent: #f0f096;
	/*--color-accent-30: rgb(from var(--color-accent) r g b / 0.3);*/ /* Relative color syntax is not yet supported across all browsers. */
	--color-accent-30: rgb(240 240 150 / 0.3);
	
	--color-board-bg: #b58fb4;
	--color-board-white: #f2ecf4;
	--color-board-black: #1c1b1f;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-bg: #1d192b;
		--color-surface: #49454f;
		--color-on-surface: #fafafa;
		
		--color-board-bg: #563955;
  }
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	border: 0;
	padding: 0;
	font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	background-color: var(--color-bg);
	color: var(--color-on-surface);
}
